@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

:root {
    --main-color: #1289EA;
    --text-color: #ffffff;
}

body {
    background-size: contain;
    background-attachment: local;
}

html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.herotxt-main {
    font-size: 60px;
    font-weight: 600;
}

.herotxt-sub {
    font-size: 25px;
    color: #767677;
}

.heroTxt {
    margin-top: 100px;
}

span {
    color: #1289EA;
    font-weight: 700;
}

.service-section {
    border-radius: 15px;
}

.p-3>i {
    color: #ffffff;
    font-size: 50px;
}

.p-3>p {
    color: #bdbbbb;
    font-size: 40px;
}

.p-3.gg {
    margin-top: 50px;
}